{
  "extractor": {
    "base-directory": "./data",
    "archive": "./state/archive.sqlite3",

    "twitter": {
      "cookies": "./state/twitter-cookies.txt"
    }
  },
  "gdw": {
    "sync_targets": [
      "/path/to/other/location"
    ]
  }
}
